
<div class="row">
	<h4>How much will you pledge?</h4>
</div>


		<%= simple_form_for @pledges, url: {controller: :pledges, action: :create}, method: :post do |f| %>
		<fieldset>
		<%= f.input :amount, placeholder: "enter your pledge amount:", input_html: {value: @project.try(:value), required: true} %>
		
		</fieldset>

		<div class="actions">
		<%= f.button :submit %>
		</div>

<% end %>

