<h1> index page pledges </h1>


<div class="project-intro">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					this should be a view to admin user only ??
				</div>
			</div>
		</div>	
	</div>	
</div>

