
<div class="col-md-12">
<h1> Thank you for your pledge</h1>
<p>You will be charged <strong><%= number_to_currency(@pledge.amount, unit: '$', precision: 2)%></strong> if the project <%= @project.title %> reaches its goal!</p>
</div>