<div class="jumbotron text-center">
		<div class="video">
		<video class="video-background" autoplay="true" loop="true" class="fillWidth fadeIn animated"  width="100%" poster="https://s3-us-west-2.amazonaws.com/coverr/poster/Traffic-blurred2.jpg" id="video-background">
			<source src="https://s3-us-west-2.amazonaws.com/coverr/mp4/Traffic-blurred2.mp4" type="video/mp4">Your browser does not support the video tag. I suggest you upgrade your browser.
		</video>
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
					<h1>Together Civic Life</h1>
				

						<div class="button-video">
						<p><%= link_to "What is Crowdfunding?", "#", class: "btn btn-default btn-lg" %></p>
						</div>
						</div>
					</div>
				</div>
</div>

