	.jumbotron{
	  background-color: none;
	  position: absolute;
	  overflow: hidden;
	  padding:0px !important;
	  padding: 0;
	  margin-bottom: 0;
	 }
.text-center{
	  z-index: -1;
	  width: 100%;
	  
	}
	.jumbotron-caption{ 
	 position: relative;
	 text-transform: uppercase;
	 filter:alpha(opacity=70);
	 -moz-opacity:.70;
	 opacity:.70;

	}

	.video-background:before{
	 left: 0;  
	 right: 0;
	 top: 0;
	 bottom: 0;
	 position: absolute;
	 content: "";
	 background-color: none;
	 opacity: 0.39;
	 z-index: -1;
	}
	
	.video-background {
	padding:0;
	margin:0; 
	background-color: none;
	z-index:-1;
	  }

	#video-background{
	background-size: cover;
	transition: 1s opacity;
	}

	.cover-text{
	position:absolute;
	width:100%;
	text-align:center;
	z-index:-1;
	top:5em;
	}

	.cover-text h1, .cover-text p{
	color:#fff !important;
	 }